:root {
  --color-primary-dark: #1976d20a;
  --color-primary: #1976d2;
  --color-primary-light: #6c757d;

  --color-white: #ffffff;
  --color-grey-light: #ccc;
  --color-grey: #808080;
  --color-grey-dark: #333;
  --color-black: #000000;
  --color-red: #ff0000;
}
