@use '../../style/mixins.scss';

.label_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  --checkbox-color: #90caf9;

  .checkbox {
    display: none;
  }

  .checkbox_icon {
    border: 2px solid var(--checkbox-color);
    border-radius: 3px;
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition:
      fill 0.3s ease,
      stroke 0.3s ease;
    fill: transparent;

    &_small {
      width: 12px;
      height: 12px;
    }

    &_big {
      width: 20px;
      height: 20px;
    }

    path {
      transition: fill 0.1s ease;
      transform: translate(1px, 1px);
    }
  }

  .checkbox:checked ~ .checkbox_icon {
    fill: var(--checkbox-color);

    path {
      fill: currentColor;
    }
  }

  .label_text {
    padding-left: 10px;
    @include mixins.text-m;
    cursor: pointer;

    &_small {
      @include mixins.text-s;
    }

    &_big {
      @include mixins.text-l;
    }
  }
}
