@use '../../style/mixins.scss';

.label_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .checkbox {
    margin: 0;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }

  .label_text {
    padding-left: 10px;
    @include mixins.text-m;
    cursor: pointer;
  }
}
