@use '../../style/vars.scss';
@use '../../style/mixins.scss';

.label_wrapper {
  display: flex;
  flex-direction: column;
  width: max-content;
  position: relative;

  &:focus-within {
    .label_text {
      color: var(--color-primary);
    }

    .left_icon svg {
      fill: var(--color-primary);
    }

    .right_icon svg {
      fill: var(--color-primary);
    }
  }

  .left_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 50%;
    transform: translate(50%, -50%);
    pointer-events: none;

    svg {
      fill: var(--color-grey-light);
    }
  }

  .right_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    svg {
      fill: var(--color-grey-light);
    }
  }

  .label_text {
    padding: 0px 2px;
    @include mixins.text-m;
    color: var(--color-grey-light);
    pointer-events: none;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
    transition:
      transform 0.2s ease-in-out,
      font-size 0.2s ease-in-out,
      color 0.2s ease-in-out;

    &_with_left_icon {
      left: 28px;
      max-width: calc(90% - 16px);
    }
    &_with_right_icon {
      max-width: calc(90% - 16px);
    }
    &_with_both_icons {
      left: 28px;
      max-width: calc(90% - 32px);
    }

    &_outlined {
      background-color: var(--color-white);
      line-height: 1.5;
      color: var(--color-grey-light);

      &.error {
        color: var(--color-red);
      }
    }

    &_filled {
      color: var(--color-grey);

      &.error {
        color: var(--color-red);
      }
    }

    &_standard {
      left: 0px;

      &.label_text_with_left_icon {
        left: 30px;
        max-width: calc(90% - 30px);
      }

      &.label_text_with_right_icon {
        max-width: calc(90% - 30px);
      }

      &.label_text_with_both_icons {
        left: 30px;
        max-width: calc(90% - 30px);
      }

      &.error {
        color: var(--color-red);
      }
    }
  }

  .text_field {
    @include mixins.text-l;
    padding: 8px 12px 8px 12px;
    border: 1px solid var(--color-grey-light);
    color: var(--color-black);
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 25ch;

    &::placeholder {
      color: var(--color-grey-light);
      transition: opacity 0.2s ease-in-out;
      opacity: 0;
    }

    &:focus {
      border-color: var(--color-primary);

      &::placeholder {
        opacity: 1;
      }
    }

    &_outlined {
      background-color: var(--color-white);

      &.text_field_with_left_icon {
        padding: 8px 12px 8px 30px;
      }

      &.text_field_with_right_icon {
        padding: 8px 30px 8px 12px;
      }

      &.text_field_with_both_icons {
        padding: 8px 30px 8px 30px;
      }

      &:focus {
        border: 1px solid var(--color-primary);

        + .label_text_outlined {
          transform: translate(-10%, -160%) scale(0.8);
        }

        &.error {
          border: 1px solid var(--color-red);
        }
      }

      &:not(:placeholder-shown) {
        + .label_text_outlined {
          transform: translate(-10%, -160%) scale(0.8);
        }

        &.error {
          border: 1px solid var(--color-red);
        }
      }

      &.error {
        border: 1px solid var(--color-red);
      }
    }

    &_filled {
      padding-top: 12px;
      padding-bottom: 4px;
      background-color: var(--color-grey-light);
      border: none;
      border-bottom: 1px solid var(--color-white);
      border-radius: 4px 4px 0px 0px;

      &.text_field_with_left_icon {
        padding: 12px 12px 4px 30px;
      }

      &.text_field_with_right_icon {
        padding: 12px 30px 4px 12px;
      }

      &.text_field_with_both_icons {
        padding: 12px 30px 4px 30px;
      }

      &::placeholder {
        color: var(--color-grey);
      }

      &:focus {
        border-bottom: 1px solid var(--color-primary);

        + .label_text_filled {
          transform: translate(-10%, -100%) scale(0.8);
        }
      }

      &:not(:placeholder-shown) {
        + .label_text_filled {
          transform: translate(-10%, -100%) scale(0.8);
        }
      }

      &.error {
        border-bottom: 1px solid var(--color-red);
      }
    }

    &_standard {
      padding-top: 2px;
      padding-bottom: 2px;
      border: none;
      border-bottom: 1px solid var(--color-grey-light);
      border-radius: 0;

      &.text_field_with_left_icon {
        padding: 2px 0px 2px 30px;
      }

      &.text_field_with_right_icon {
        padding: 2px 30px 2px 0px;
      }

      &.text_field_with_both_icons {
        padding: 2px 30px 2px 30px;
      }

      &:focus {
        border-bottom-color: var(--color-primary);

        + .label_text_standard {
          transform: translate(-10%, -150%) scale(0.8);
        }
      }

      &:not(:placeholder-shown) {
        + .label_text_standard {
          transform: translate(-10%, -150%) scale(0.8);
        }
      }

      &.error {
        border-bottom: 1px solid var(--color-red);
      }
    }
  }

  .error_text {
    @include mixins.text-s;
    color: var(--color-primary-light);
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    left: 2px;
    top: 100%;
    width: 100%;
    text-align: start;

    &.error {
      color: var(--color-red);
    }
  }
}